body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1b1f3b;
    color: white;
}

.top {
    text-align: center;
    background: #111;
    padding: 20px;
    border-bottom: 2px solid #444;
}

.layout {
    display: flex;
    background-color: #1b1f3b;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #000;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    list-style: none;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover {
    background: #263159;
}

.sidebar li a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 6px;
}

.sidebar li a:hover {
    background: #263159;
}

/* MAIN */
.main {
    padding: 40px;
    flex: 1;
}

/* CARDS */
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #263159;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    background: #44507a;
    transform: scale(1.05);
}

.number {
    font-size: 28px;
    font-weight: bold;
}

/* TABLA */
.table-section {
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #263159;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background: #111;
}

tr:nth-child(even) {
    background: #2e3a6d;
}

tr:hover {
    background: #44507a;
}

button {
    background: #44507a;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #263159;
}

