/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  
  
  /* BOTONES */
  .btn {
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  
  /* SECCIÓN INFO */
  .info {
    background-color: #1b1f3b;
    padding: 25px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 8px;
    text-align: center;
    display: grid;
  }
  
  /* SERVICIOS */
  .servicios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .servicio {
    background-color: #1b1f3b;
    margin: 20px;
    padding: 25px;
    max-width: 300px;
    border-radius: 8px;
    text-align: center;
  }
  
  .servicio h2 {
    margin-bottom: 10px;
  }
  
  .servicio p {
    font-size: 14px;
    line-height: 1.5;
  }

  .form-contacto{
    display: grid;
    padding: 30px;
  }
  