/* Fondo general con gradiente */
body {
  background: linear-gradient(135deg, #7aecdd, #717dd7);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Logo centrado */
img {
  display: block;
  margin: 0 auto;
}

.info, .botones{
    padding: 20px;
    margin: 20px;
    justify-self: center;
    justify-content: center;
    background-color: #1b1f3b;
    border-radius: 10px;
    width: 60%;
  }