body{
  background-image: url('../assets/background.jpeg'), linear-gradient(135deg, #1b1f3b, #2c3e50);
}

/* SECCIÓN SERVICIOS */
.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content{
    padding: 20px;
    margin: 20px;
    justify-content: center;
    background-color: #1b1f3b;
    border-radius: 10px;
  }
  .servicio {
    background-color: #136f63;
    margin: 20px;
    padding: 25px;
    max-width: 300px;
    border-radius: 8px;
    text-align: center;
  }
  
  .servicio h2 {
    margin-bottom: 10px;
  }
  
  .servicio p {
    font-size: 15px;
  }
  